.button {
  flex-flow: column;
  justify-content: center;
  align-content: center;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  border: none;
  background-color: #34BFB1;
  color: #324373;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: outline-color 1s;

  &:hover {
    outline: #DCEEF2 3px solid;
  }
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;

  &:hover {
    opacity: 0.5;
    outline: none;
  }
}
